<h1>Eat-Da-Burger!</h1>

<h2>Burger Menu!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>To late, no more burgers!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/bruger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Make a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="br">Burger Name:</label>
    <input type="text" id="br" name="burg_name">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="Devoured" value="1"> Already Eaten!<br>
    <input type="radio" name="Devoured" value="0" checked> Hungry?
  </div>

  <button type="submit">Add Burger</button>
</form>
